body {
    /* margin: 0px; */
    font-family: sans-serif;
    font-family: 'PT Serif', serif;
    /* ESTILO */
    /* min-height: 100vh;
    padding: 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background: hsl(220, 10%, 12%);
    font-family: "Lato", "Segoe Ui", -apple-system, BlinkMacSystemFont, sans-serif; */
}

header {
    width: 100%;
    background: #e0ab46;
    height: 50px;
    position: fixed;
    /* padding: 15px 0px; */
    top: 0px;
    z-index: 10;
    left: 0px;
}

header .container{
    display: flex;
    justify-content: space-between;
    height: 65px;

    background-color: #e9b881;
}

/* igual afecta el logo header .container img{
    width: 200px;
} */

header .container nav a{
    color: #4e2c10;
    margin: 0px 15px;
    font-weight: 600;
}

/*Para el logo*/
header img {
    float: right;
    width: 150px;
    height: 60px;
    padding-right: 0px;
}

#inicio img{
    height: 600px;
    margin-bottom: 50px;
}

#inicio {
    position: relative;
}

/* #inicio img {
    width: 100%;
    display: block;
} */

#inicio .bloque-inicio {
    /*
    Puede moverse con top, bottom, left, right y z-index y al moverse los otros elementos ocupan el espacio del elemento con position: absolute
    */
   
    top: 20%;
    left: 50%;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    text-align: center;
    background-image: linear-gradient(to top, rgba(62, 61, 66, 0.5) 0%, rgba(46, 44, 45, 0.5) 100%), url(../img/photo-1650484543291-b2883721153f.jpg);
}
/*Para agrandar la letra de cada uno de los titulos de la letra*/
#inicio .bloque-inicio h1 {
    color: white;
    font-size: 50px;
}

#inicio .bloque-inicio p {
    color: white;
    font-size: 20px;
    padding: 10px;
}

#servicio .container h1{
    color: #4e2c10;
    font-size: 40px;
}

#servicio .container p{
  background-color: #cefad1;
  font-family: 'PT Serif', serif;
  border-radius: 5px;
  padding: 10px;
}

#servicio .container .titulo{
  font-size: 25px;
  color: rgb(19, 19, 19);
}

#productos .container h1{
    color: black;
    font-size: 40px;

}
/*Hasta aqui se los agranda*/
#servicio .espacio-servicio img{
    height: 300px;
    border-radius: 20px;
    border: 10px solid rgba(75, 48, 33, 0.562);
}

/*Para ordenar las imagenes de servicio*/
.espacio-servicio{
    width: 40%;
    display:inline-block;
    margin: 3%;

}

.espacio-productos{
    width: 40%;
    display:inline-block;
    margin: 3%;
}


#servicio .espacio-contenido-servicio h1{
    font-size: 30px;
    background-color: rgb(236, 226, 202);
    border-radius: 15px;
    text-align: center;
}



#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.menu ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
    display: flex;
}

/* .menu li {
    border-right: 1px solid #fff;
} */

/*Para el cursor cuando se hace responsivo el color del cursor es este*/
.menu li:hover {
    background: rgb(245, 208, 139);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

main img {
    width: 100%;
    height: 50%;
}

/*Para el logo de imagenes los fabicos*/
.columna {
    padding-right: 15px;
    padding-left: 15px;
}
/*este esta afectando el tamaño del formulario de contactos*/
.columna-41 {
    width: 41.66%;
}

/**/
.columna-25 {
    width: 25%;
}

/*este es para mover el formulario a la derecha*/
/* .empujar-58 {
    margin-left: 58.33%;
} */

/*Para el formulario, con el relativo hace que se mueva con el formulario, como no
esta con imagen es por eso que este estilo no me sirve a menos que ponga el mapa*/
/* #contactenos {
  position:relative;
}*/

/*Para el formulario sus diseños*/
#contactenos {
  height: 120%;
  background-color: #ad792b;
  padding: 2% 5%;
  width: 30%;
  margin-top: 50px;
  border-radius: 20px;
  margin: 0 30%;
}

#contactenos iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}


/* #contactenos {
  width: 10%;
  background-color: aqua;
  border-radius: 15px;
} */

#contactenos #formulario-contacto .form-block {
  width: 100%;
  margin-bottom: 15px;
}

#contactenos #formulario-contacto .form-block .form-control {
  display: block;
  height: 40px;
  font-size: 16px;
  width: 200%;
  padding: 5px 10px;
}

#contactenos #formulario-contacto .form-block textarea {
  display: block;
  height: 100px;
  font-size: 16px;
  border: 1px solid grey;
  width: 200%;
  padding: 5px 10px;
  /*No se puede dimensionar el textarea*/
  resize: none;
}

#contactenos #formulario-contacto .form-block.bloque-ultimo {
  margin-bottom: 0px;
}

/*Validacion del formulario*/

.formulario-input-error {
  font-size: 12px;
  margin-bottom: 0;
  color: black;
  display: none;
}

.formulario-input-error-activo {
  display: block;
}

.formulario-mensaje-exito {
  font-size: 14px;
  /* color: white; */
  display: none;
}

.formulario-mensaje-exito-activo {
  display: block;
}

.form-control-error {
  border: 3px solid orange;
}
/*Hasta aqui valida el formulario*/

footer{
    /* padding-top: 60px; */
    /*margin-top: 350px; */
    text-align: center;
    color: #4e2c10;
    font-size: 20px;
    background-color: #e9b881;
}

/*es para el derechos reservados*/
footer .barra-footer {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    /* background-color: black;
    color: white; */
}

/*es para los logos de imagenes(como es blanco y lo ponemos fondo no nos combiene)*/
/* footer a {
  color: white;
} */

/*no es necesario el font-size(para agrandar comunmente letras), con el display: flex
estamos separando las imagenes de redes sociales(pero se juntan), el que nos ayuda a
separandolos es el justify-content: space-between(con este se separan los iconos
de redes sociales)*/
footer .redes {
  /* font-size: 30px; */
  display: flex;
  justify-content: space-between;
}

/*los logos de face, whas, instagram*/
footer .redes a {
  /* margin: 0px 7.5px; */
  font-size: 40px;
}

footer ul {
  padding-right: 0px;
  list-style: none;
  margin: 0;
  /* background-color: blueviolet; */
}

footer ul li {
  margin-bottom: 10px;
  margin-left: -40px;
  font-size: 18px;
}

i {
  color: #4e2c10;
}

.row {
    display: flex;
    /*Si una columna no entra, esa columna va hacia abajo*/
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

/*INICIO*/

/* Pase el cursor sobre una tarjeta para voltear, también puede tabular. */

/* .contenedor-de-tarjetas-invertidas */
.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);

  /* width: 310px;
  height: 500px;
  margin: 40px; */
  width: 300px;
  height: 600px;
  margin: 6px;
  display: inline-block;

  perspective: 1000px;
  /* background-color: black; */
}

/* .carta invertida */
.flip-card {
  width: 100%;
  height: 100%;

  position: relative;
  transform-style: preserve-3d;
  transition: .6s .1s;
  /* background-color: blue; */
}

/* flotar y enfocar-dentro de los estado */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
  /* background-color: purple; */
}

/* .tarjeta-... */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 15px;

  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cefad1;
}

/* .frente de tarjeta */
.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

/* .dorso de carta */
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

/* figura */
figure {
  z-index: -1;
}

/* figura, .img-bg */
figure,
.img-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 80%;
  height: 195%;
  border-radius: 15px;
  /* background-color: black; */
}

/* figcaption */
figcaption {
  display: block;

  width: auto;
  margin-top: 12%;
  padding: 8px 22px;

  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;

  position: absolute;
  top: 0;
  right: 12px;

  color: var(--white-1);
  /* background: hsla(var(--hue), 25%, 10%, .5); */
  background-color: rgba(0, 0, 0, 0.425);
}

/* .img-bg */
/* .img-bg {
  background: hsla(var(--hue), 25%, 10%, .5);
} */

.card-front .img-bg {
  clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}

.card-front .img-bg::before {
  content: "";

  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(18deg);

  width: 100%;
  height: 6px;
  border: 1px solid var(--primary);
  border-left-color: transparent;
  border-right-color: transparent;

  transition: .1s;
}

.card-back .img-bg {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}

/* hover state */
.flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
}

/* ul */
.card-front ul {
  padding-top: 50%;
  margin: 0 auto;
  width: 70%;
  height: 100%;

  list-style: none;
  color: var(--white-1);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* li */
.card-front ul li {
  width: 100%;
  margin-top: 12px;
  padding: 12px;

  font-size: 14px;
  text-align: center;
border-radius: 20px;
  position: relative;
  color: white;

  /* color: black; */
  background-color: rgb(6, 102, 89);
}

.card-front ul li:nth-child(2n) {
  color: var(--white-2);
}

.card-front ul li:not(:last-child)::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background: currentColor;
  opacity: .2;
}

/* button */
button {
  font-family: inherit;
  font-weight: bold;
  color: var(--white-1);

  letter-spacing: 2px;

  padding: 9px 20px;
  border: 1px solid var(--grey);
  border-radius: 1000px;
  background: rgb(90, 89, 89);
  transition: .3s;

  cursor: pointer;
}

button:hover,
button:focus {
  color: var(--primary);
  background: hsla(var(--hue), 25%, 10%, .2);
  border-color: currentColor;
}

button:active {
  transform: translate(2px);
}

/* .design-container */
.design-container {
  --tr: 90;
  --op: .5;

  width: 100%;
  height: 100%;

  background: transparent;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}

/* .design */
.design {
  display: block;

  background: var(--grey);
  position: absolute;

  opacity: var(--op);
  transition: .3s;
}

.design--1,
.design--2,
.design--3,
.design--4 {
  width: 1px;
  height: 100%;
}

.design--1,
.design--2 {
  top: 0;
  transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%))
}

.design--1 {
  left: 20%;
}

.design--2 {
  left: 80%;
}

.design--3,
.design--4 {
  bottom: 0;
  transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--3 {
  left: 24%;
}

.design--4 {
  left: 76%;
}

.design--5,
.design--6,
.design--7,
.design--8 {
  width: 100%;
  height: 1px;
}

.design--5,
.design--6 {
  left: 0;
  transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--5 {
  top: 41%;
}

.design--6 {
  top: 59%;
}

.design--7,
.design--8 {
  right: 0;
  transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--7 {
  top: 44%;
}

.design--8 {
  top: 56%;
}

/* states */
button:hover+.design-container,
button:active+.design-container,
button:focus+.design-container {
  --tr: 20;
  --op: .7;
}

/*HASTA AQUI*/

@media screen and (max-width:768px){
    body{
        font-size: 25px;
    }

    header{
        position: fixed;
    }

    header label {
        display: block;
    }

    header label i{
        font-size: 30px;
    }

    .menu {
        position: absolute;
        background: white;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li {
        border-top: 1px solid #fff;
    }

    #btn-menu:checked ~ .menu {
        margin: 0px;
    }

    header img {
        padding-right: 0px;
        height: 60px;
    }

    .container {
        width: 100%;
      }

    .columna-mobile-100 {
        width: 100%;
    }

    .empujar-mobile-0 {
        margin-left: 0;
    }

    .sinpadding-mobile {
        padding: 0px;
    }

    #contactenos {
      height: 120%;
      background-color: #ad792b;
      padding: 2% 10%;
      width: 30%;
      margin-top: 50px;
      border-radius: 20px;
      margin: 0 30%;
    }

    .flip-card-container {
      --hue: 150;
      --primary: hsl(var(--hue), 50%, 50%);
      --white-1: hsl(0, 0%, 90%);
      --white-2: hsl(0, 0%, 80%);
      --dark: hsl(var(--hue), 25%, 10%);
      --grey: hsl(0, 0%, 50%);
      width: 300px;
      height: 600px;
      margin: 6px;
      display: inline-block;
      perspective: 1000px;
    }

    #contactenos #formulario-contacto .form-block .form-control {
      display: block;
      height: 40px;
      font-size: 16px;
      width: 80%;
      padding: 5px 10px;
  }

  #contactenos #formulario-contacto .form-block textarea {
    display: block;
    height: 100px;
    font-size: 16px;
    border: 1px solid grey;
    width: 80%;
    padding: 5px 10px;
    resize: none;
}

}

@media screen and (max-width:420px){
    body{
        font-size: 15px;
    }

    #inicio .bloque-inicio h1 {
        color: white;
        font-size: 40px;
    }

    #inicio .bloque-inicio p {
        color: white;
        font-size: 20px;
        text-align: center;
        margin: 15px;
    }

    #servicio .container h1{
        color: black;
        font-size: 25px;
    }

    #productos .container h1{
        color: black;
        font-size: 25px;
    }

    header{
        width: 100%;
        background: rgb(224, 171, 70);
        height: 50px;
        position: fixed;
        /* padding: 15px 0px; */
        top: 0px;
        z-index: 10;
        left: 0px;
    }

    header .container{
        display: flex;
        justify-content: space-between;
        height: 60px;
        background-color: rgb(245, 208, 139);
    }

    header .container nav a{
        color: rgb(248, 154, 120);
        margin: 0px 15px;
    }

    main img {
        height: 20%;
        width: 100%;
    }

    .flip-card-container {
      --hue: 150;
      --primary: hsl(var(--hue), 50%, 50%);
      --white-1: hsl(0, 0%, 90%);
      --white-2: hsl(0, 0%, 80%);
      --dark: hsl(var(--hue), 25%, 10%);
      --grey: hsl(0, 0%, 50%);
      width: 150px;
      height: 600px;
      margin: 6px;
      display: inline-block;
      perspective: 1000px;
    }

    /* figura, .img-bg */
figure,
.img-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 90%;
  height: 500%;
  margin: 0px;
  border-radius: 15px;
}

#contactenos {
  height: 120%;
  background-color: #ad792b;
  padding: 2% 15%;
  width: 30%;
  margin-top: 50px;
  border-radius: 20px;
  margin: 0 30%;
}

#contactenos #formulario-contacto .form-block .form-control {
  display: block;
  height: 40px;
  font-size: 16px;
  width: 80%;
  padding: 5px 10px;
}

#contactenos #formulario-contacto .form-block textarea {
  display: block;
  height: 100px;
  font-size: 16px;
  border: 1px solid grey;
  width: 80%;
  padding: 5px 10px;
  resize: none;
}

}

@media screen and (max-width:320px){
    body{
        font-size: 15px;
        margin-left: 5px;
        margin-right: -30px;
    }

    #inicio .bloque-inicio h1 {
        color: white;
        font-size: 40px;
    }

    #inicio .bloque-inicio p {
        color: white;
        font-size: 20px;
        text-align: center;
        margin: 45px;
    }

    #servicio .container h1{
        color: black;
        font-size: 25px;
    }

    #productos .container h1{
        color: black;
        font-size: 23px;
    }

    header{
        width: 100%;
        background: rgb(224, 171, 70);
        height: 50px;
        position: fixed;
        /* padding: 15px 0px; */
        top: 0px;
        z-index: 10;
        left: 0px;
    }

    header .container{
        display: flex;
        position: fixed;
        justify-content: space-between;
        height: 60px;
        background-color: rgb(245, 208, 139);
    }

    header .container nav a{
        color: rgb(248, 154, 120);
        margin: 0px 15px;
    }

    main img {
        height: 20%;
        width: 100%;
    }

    .flip-card-container {
      --hue: 150;
      --primary: hsl(var(--hue), 50%, 50%);
      --white-1: hsl(0, 0%, 90%);
      --white-2: hsl(0, 0%, 80%);
      --dark: hsl(var(--hue), 25%, 10%);
      --grey: hsl(0, 0%, 50%);
      width: 100px;
      height: 600px;
      margin: 10px;
      display: inline-block;
      perspective: 1000px;
    }

    #contactenos {
      height: 120%;
      background-color: #ad792b;
      padding: 2% 23%;
      width: 30%;
      margin-top: 50px;
      border-radius: 20px;
      margin: 0 30%;
    }

    #contactenos #formulario-contacto .form-block .form-control {
      display: block;
      height: 40px;
      font-size: 16px;
      width: 85%;
      padding: 5px 10px;
  }

  #contactenos #formulario-contacto .form-block textarea {
    display: block;
    height: 100px;
    font-size: 16px;
    border: 1px solid grey;
    width: 85%;
    padding: 5px 10px;
    resize: none;
}
}